[2012-11-15 19:07] michaeldauria opened #16 "Handling errors differently"
Instead of complaining and stopping the processing of messages, how about failed messages are moved to another queue for later processing? This would allow for properly formatted messages to go through as if nothing was wrong. A positive side affect of this is that one could set up some sort of alert  based on the number of messages in the failed queue (it should always be at 0) as well.

[2012-11-15 19:39] nviennot commented on #16
Sadly that's unsafe, because of data dependencies.

[2013-01-08 03:29] tjhosford opened #21 "Marketing"
We need a documentation website like this:

http://www.elasticsearch.org/

---

As well as some strange logo that vaguely relates to the product.

![](http://media.mongodb.org/logo-mongodb.png)

![](http://www.elasticsearch.org/images/header.png)

[2013-02-15 23:22] nik opened #25 "destroy / destroy_all don't work"
Seems that I can't destroy anything, just returns false.

[2013-02-15 23:29] nik commented on #25
Specifically, (as of right now) on Actions. I can destroy members, but if I try
`Action::Base.all.destroy_all` , the count is returned, however they're all still there

[2013-02-16 00:03] nviennot commented on #25
Will investigate.

[2013-02-16 02:02] #16 closed, assigned to nobody

[2013-02-17 01:07] nviennot commented on #25
This is not a promiscuous bug. BrandActions have this callback:

[code]

[2013-02-17 01:07] #25 closed, assigned to nobody

[2013-02-17 01:09] nviennot commented on #25
FYI, You can use `delete` instead to bypass callbacks.

[2013-02-17 02:43] nik commented on #25
ah. thanks

[2013-02-18 00:21] psugihara opened #26 "Autoconfigure"
The config/initializers/promiscuous.rb should autogenerate.

[2013-02-18 22:35] #26 closed, assigned to nobody

[2013-02-19 03:08] psugihara opened #27 "Bidirectional pubsub"
Say I want to have bidirectional pubsub nodes. That is, Node A makes User models that Node B subscribes to and Node B creates Order models that Node A subscribes to.

Is this possible?

The tutorial states:
"You should start the subscriber first, otherwise the appropriate queues will not be created."

[2013-02-19 04:06] nviennot commented on #27
To make the system easier to understand, we decided not to support that feature.
It gets funny when one decides to do a delete while the other one wants to do an update

[2013-02-19 04:16] nviennot commented on #27
Actually, you can use ephemerals to send data back to the publisher.

[2013-02-19 06:43] psugihara commented on #27
Wouldn't this only be an issue if you're publishing and subscribing to the same model?
It just seems unlikely that you'll have acyclic dependencies in most SOA's.

[2013-02-19 09:32] nviennot commented on #27
I didn't read your question properly. Sorry about that.

Yes, Promiscuous supports the scenario you are describing. Essentially, you need to start all the subscriber workers first, because their queues get created once they connect.

[2013-02-19 11:27] psugihara opened #28 "Apps using promiscuous won't die"
The title says it all:
- ctrl-c doesn't exit a rails server using promiscuous
- ctrl-d doesn't exit a rails console using promiscuous
- ctrl-c doesn't exit `promiscuous subscribe`

Could this have anything to do with me being on a Mac?

[2013-04-06 20:58] #28 closed, assigned to nobody

[2013-04-06 20:58] #21 closed, assigned to nobody

[2013-04-06 20:58] #27 closed, assigned to nobody

[2013-04-26 21:00] jonstorer opened #33 "without_promiscious while debugging in tests"
While debugging in the test environment, without_promiscuous is a pain to use/remember to use.

[2013-04-26 21:11] nviennot commented on #33
:+1:

[2013-04-29 18:59] quentindecock opened #34 "Autogenerate publishers file"
(cc @arjunanand ) Many times we devs change the `config/publishers.rb` file and forget to run the command `be promiscuous mocks -o gem/crowdtap/publishers.rb` to generate the publishers file that really matters. I would like this to be auto generated when the `config/publishers.rb` file is saved

[2013-04-29 19:13] nviennot commented on #34
I recommend not to use `config/publishers.rb` and put the definitions directly in the models (like the subscribers) with `publish` blocks to avoid the confusion. But @kareemk disagrees on this point as he prefers to put the promiscuous definitions outside the models, a bit like `config/routes.rb`

If you'd like to have the gem/*/publisher.rb file to be auto generated when `config/publishers.rb` is

[2013-04-29 19:19] kareemk commented on #34
Proposed solution:
1. Add a config attribute for the location of the mock file
2. Hook into Kernel.at_exit and generate (as well as not require location from promiscuous command line)

[2013-04-29 19:22] nviennot commented on #34
1. seems reasonable
2. is a bit magic as it would start writing files in your codebase when you close your rails console, which is very surprising IHMO.

A `guard` would be more appropriate I think, a bit like guard-livereload, or guard-sass. After all, it's not that different from generating assets.

[2013-04-29 19:32] nviennot commented on #34
sass has a --watch option. We could also implement that:

[code]

which would watch for relevant files to changes and regenerate the publishers file. To be plugged in the Procfile (similarly to guard)

[2013-04-29 20:19] kareemk commented on #34
@nviennot that's perfect

[2013-05-10 14:43] kareemk commented on #33
@jonstorer have you tried recently? if you're using pry then you should be good now.

[2013-06-10 21:28] kareemk commented on #33
closing this issue, haven't heard complaints recently

[2013-06-10 21:28] #33 closed, assigned to nobody

[2013-07-01 15:07] tjhosford opened #35 "Creation of mock throws error"
I guess this has been an issue for a while but I didn't notice it until I had an issue on Iris where I had to tail the promiscuous log.  Is this something I should look into further?  Otherwise a developer doesn't know if he did something wrong or not.

It goes like this...

[code]

Meanwhile, in promiscuous.log....

[code]

[2013-07-12 18:40] yodarjun opened #36 "Compatibility with Rails 4.0 and Mongoid 4.0"
When using Rails 4 and mongoid, we're forced to use the master branch of mongoid (4.0.0). When using this setup, promiscuous doesn't seem to be throwing calling callbacks(after_create/after_save...) on the models that subscribe to published fields.

[2013-11-10 20:39] alex opened #39 "Consider changing the name and logo"
I'm not sure if you're aware of this, but the unnecessary sexualization of this projects name and logo are a large distraction for many people, and serve to make this library (and the broader community) less welcoming.

Consider changing the name and logo to something more appropriate.

[2013-11-12 15:51] veloper commented on #39
I've used, support, and really believe in this approach -- it's awesome in so many ways.  That said, I've personally been running into very skeptical opposition from colleagues while attempting to explain this approach and the benefits of doing so. (Solving a problem that no one realized they had.)

When I walked into the presentation at RubyConf the first thing I noticed was the cheeky logo that

[2013-11-12 23:28] #35 closed, assigned to nobody

[2013-11-12 23:28] #34 closed, assigned to nobody

[2013-11-12 23:30] nviennot commented on #39
We are definitely going to change the logo to something more appropriate.
Regarding the name, we think that promiscuous is fine. it's a term used in software e.g. putting your network card in promiscuous mode to listen to all the incoming traffic.

Thank you for the constructing feedback :)

[2013-12-07 18:10] andyl commented on #39
Caremad neo-puritans are on the march.

[2013-12-07 18:19] andyl opened #41 "Best fit for Promiscuous"
Just saw your RubyConf video - wow!  I have a question about finding the best fit for Promiscuous.  Not sure if this is the best venue - but here goes...

Looks to me like promiscuous generates one-way information flows from a front-end system to a read-only companion app.  So a good fit would be a web-app that feeds a reporting system.

Does promiscuous support bi-directional updates?  How would

[2013-12-07 21:32] nviennot commented on #41
Hi Andy,

Let me make a distinction on what bi-directional updates mean to me:

1) The first case is to decorate an already published model, for example, application A publishes a user model, and application B is doing some machine learning to add a field to the user model like spammy:true/false. Application C would subscribe to both A and B, and aggregate the fields from the two apps and merge th

[2013-12-08 03:47] andyl commented on #41
Hi Nicolas -

Thanks for taking the time to answer my questions.  It is great to hear that you are thinking about bi-directional updates and are going to take a crack at it.

I knew that loops would be an issue.  I hadn't thought far enough ahead to consider the situation where there may be a chain of publishers/subscribers.  I guess that would make loop-detection more difficult.

For my situation

[2013-12-08 03:51] nviennot commented on #41
Great :)

I am definitely looking for feedback!

[2014-01-31 14:49] andyl opened #42 "Micro Services Architecture"
This video describes a micro-services architecture which seems similar to promiscuous.  He uses Kafka instead of RabbitMQ as the persistent data bus.  I hope you find the video interesting.

http://oredev.org/2013/wed-fri-conference/implementing-micro-service-architectures

[2014-02-01 16:18] kareemk commented on #42
Thanks for sharing @andyl. This is indeed very interesting and philosophically there is a lot of overlap: especially the idea of encapsulation at the data layer.

[2014-02-01 16:18] #42 closed, assigned to nobody

[2014-02-01 16:18] #41 closed, assigned to nobody

[2014-02-11 04:02] kareemk commented on #39
Logo removed until we "commission" a new one

[2014-02-11 04:02] #39 closed, assigned to nobody

[2014-02-12 03:21] AnneTheAgile commented on #36
Since this ticket was opened, a nice blog post discussed Mongoid v4 fixes required. Quick notes on the v3 items affected;
1.Moped::BSON;
2.Observers are deprecated in 4.0, eg Moped::BSON::ObjectId.legal?(id);
3.Can no longer convert a string into a Moped::BSON::ObjectId(id).
http://artsy.github.io/blog/2013/11/07/upgrading-to-mongoid4/

It seems like the code base does indeed have issues on this s

[2014-02-12 12:44] kareemk commented on #36
thanks @AnneTheAgile, that is helpful

[2014-04-10 15:00] gabrieljoelc opened #46 "Can't enable in max_prepared_transactions in Heroku"
I have an existing application that is using ActiveRecord with PostgreSQL, which currently I need the max_prepared_transactions for. Here's what the Heroku ticket response said when I made a request to enable it:

[2014-04-13 18:23] AdamKyle opened #47 "Docs need to be updated -o options doesn't exist."
When running the command from the docs to generate a mock, I get the error that -o doesn't exist, well it actually doesn't. The source shows nothing in relation to these arguments. So what is the correct command?

[code]

[2014-04-14 01:46] AdamKyle opened #48 "Issue with running command to start subscriber"
You're command to start the subscriber isn't working as expected. So whats going on?

[code]

[2014-04-14 02:03] kareemk commented on #48
@AdamKyle it looks like you're using Rails 4, currently promiscuous only supports Rails 3.x.

[2014-04-14 14:48] AdamKyle commented on #48
This issue will be closed. It seems when you do `gem 'promiscuous'` you get version 0.25 (the release from January) which is exceptionally old. So you have to specify a version. After that and the addition of the `_v` column to the subscriber table it works in rails 4.1 (the subscriber isn't saving the publishers data, but that's probably because the data from the publisher  comes from `Engine_tab

[2014-04-14 14:48] #48 closed, assigned to nobody

[2014-04-14 14:49] AdamKyle commented on #47
Issue resulted in an older version being used. You have to specify the latest version with `gem 'promiscuous'`

[2014-04-14 14:49] #47 closed, assigned to nobody

[2014-04-21 05:31] fatum opened #49 "Adapter for queue"
Do you have plan for supports another queues (aws sqs, redis-based (sidekiq, resque ets))?

[2014-04-21 16:47] kareemk commented on #49
We don't currently. Why would you like to see other queue support?

[2014-04-21 17:31] fatum commented on #49
We use aws sqs instead amqp :)

[2014-04-29 14:40] AdamKyle opened #50 "Publishing Relationships?"
If I have a  publisher model of user with:

`has_many_and_belongs_to :roles, through :roles_users`

and a publisher model of roles with:

`has_many_and_belongs_to :users, through :roles_users`

and then set up the subscriber models with the same relationships and tell it to listen to the publisher models, if the publisher app seeds it's own database with:

[code]

What happens is that the user and

[2014-04-30 14:42] kareemk commented on #50
@AdamKyle this _should_ work by creating a model, on both the pub and sub, that matches the name of the join table and publishing the two foreign keys. I'll investigate this soon but feel free to give it a try.

How did you try and sync? You only need to sync if you haven't setup and started the subscriber before creating records in the publisher (which in practice is almost always the case). Ther

[2014-04-30 14:47] kareemk commented on #49
This is not part of our near-term roadmap as getting rabbit setup in AWS is easy e.g. http://bigwig.io/, http://www.cloudamqp.com/.

[2014-04-30 14:49] kareemk opened #51 "2.0.0"

[2014-04-30 14:50] #51 closed, assigned to nobody

[2014-04-30 15:10] AdamKyle commented on #50
@kareemk

I will def give it a try. In the mean time I wrote a rake method that creates the relationship after the sub recieves the pubs attributes for given models.

As for part two. I found that A) the given example for syncing a user states: unknown method sync for promiscuous, and when using the trace to search for the method, the module the method is suppose to be in exists, but the actual sy

[2014-04-30 15:18] kareemk opened #52 "ActiveRecord sync support"

[2014-04-30 15:19] kareemk commented on #50
@AdamKyle ah, the issue is that sync is not supported for activerecord **yet**.  I've created #52 to track.

[2014-04-30 15:22] AdamKyle commented on #50
Understood, thank you.

[2014-05-08 14:23] nathanpalmer opened #53 "How do you handle changes to models?"
I'm not a user of the project (yet) and just watched the 2013 RubyConf video introduction. What I'm curious about is as things change in your application it's guaranteed that at some point a field is named a model is renamed, new models introduced, etc. Using a system like promiscuous seems interesting but I'm curious how it handles these situations.
- Model is renamed - Overriding class names - h

[2014-05-08 14:30] kareemk commented on #53
You can do exactly that.  e.g.

Before:

[code]

After:

[code]

They key feature here is that you can publish _any_ method on the model making situations like this one easy to deal with.

[2014-05-08 14:30] #53 closed, assigned to nobody

[2014-05-08 16:10] AdamKyle opened #54 "Delete not working, but publish is"
Publishing records works fine. How ever when you publish the deletion of a record from the publisher to the subscriber, eg:

[code]

In this case, the publisher is telling the subscriber to delete the api key on id 3, this never happens. The API key is still present in the subscriber table. How evr if I create a new api key in the publisher

[code]

You can see that the subscriber listens, receive

[2014-05-08 17:49] kareemk commented on #54
Deletes are postponed on the subscriber to prevent the race where an destroy is processed before an update resulting in the record being deleted then upserted.

The current default is to postpone deletes by an hour. This value can easily be changed through configuration (see https://github.com/promiscuous-io/promiscuous/blob/master/lib/promiscuous/config.rb#L64). I wouldn't recommend setting this

[2014-05-08 18:13] kareemk commented on #54
After further review I realize that the delete should be processed twice, once when it is received and then another time postponed. This will for most cases when there isn't a race process the delete instantaneously but also catch races when they occur.

I'll get a fix in soon.

[2014-05-08 18:16] AdamKyle commented on #54
Ok thank you for the clarification. Would setting the value to 15 seconds cause any issues you could see?

[2014-05-08 18:21] kareemk commented on #54
You _could_ have a race within that timeframe if an update takes a long time (15s+) and a delete sneaks in and is processed first. But if this is in a development environment then there should be no problem doing this.

That said, I should have a fix out within the hour.

[2014-05-08 18:55] #54 closed, assigned to nobody

[2014-05-13 20:26] nathanpalmer commented on #49
So we're hesitant to bring on another queue dependency in our stack by requiring RabbitMq when we already have one via Sidekiq/Redis. While it isn't a huge deal it does mean it's an extra thing that we have to deploy, maintain and install on the development machines.

It would certainly be interesting to see this project support redis storage and redis queue to remove that dependency.. even in an

[2014-05-16 06:53] fatum commented on #49
I've started simple library for state replication https://github.com/fatum/replicator

Sorry for bad english description in README :(

[2014-05-16 16:10] armyofgnomes opened #55 "Subscribing to a child class after a parent class has already been synced"
Currently, if you are subscribing to a parent class, if you later subscribe to the child, all of the previously synced data remains the parent type. You have to delete it all and resync it for the type to be correct.

For example:
Publisher

[code]

Subscriber

[code]

All cats will come through as animals and even if you add a subscription to Cat later on, they will stay as Animal.

[2014-05-17 15:09] kareemk commented on #49
@nathanpalmer redis is not durable and hence cannot guarantee delivery. rabbit on the otherhand has very strong semantics/gurantees. Is your application tolerant to data inconsistencies across applications?

@fatum nice work. you should make sure to document what guarantees your library offers. i say that because we worked really hard to ensure that ANY change to the DB, even by accessing the driv

[2014-05-20 18:40] nathanpalmer commented on #41
@nviennot What about this scenario of bi-directional updates? Seems similar to 1)

3) A publishes User object, B is doing some machine learning and updates the spammy:true/false directly on User and A subscribes to User to get the updates back.

In this case I'd assume the user object on both sides is both a subscriber and a publisher in the DSL. In my scenario one side is ALWAYS handling creation

[2014-05-20 18:58] nviennot commented on #41
I've implemented this feature in my fork.
There is no documentation but this test illustrate the DSL: https://github.com/nviennot/promiscuous/blob/master/spec/integration/multi_pub_spec.rb#L111-L150

Each app is responsible for a set of field. If you break that rule (many apps updating the same field) you might get into infinite update loops issues.

Sorry if I'm not being super helpful.

[2014-05-20 19:06] nathanpalmer commented on #41
Ok, interesting. Any plans to merge that into master?

[2014-05-20 19:21] nviennot commented on #41
I'm pretty sure it is, @kareemk is now the maintainer. He has a lot on his plate, so don't expect it in the near future.

[2014-05-20 20:29] kareemk opened #56 "Multi-publisher support"
Support subscribing from multiple publishers and publishing from a subscribed model. This allows for different fields in a model to be owned by different applications.

Implemented by @nviennot's fork: https://github.com/nviennot/promiscuous/blob/master/spec/integration/multi_pub_spec.rb#L111-L150

[2014-05-20 20:30] kareemk commented on #41
As there is a fairly easy workaround by using a different model to store the additional field I've slated this for 2.0. Tracked by #56.

[2014-05-20 21:04] kareemk commented on #52
Implemented on master

[2014-05-20 21:04] #52 closed, assigned to nobody

[2014-05-20 21:06] kareemk commented on #46
Implemented on master.

Note that currently you'll have to add a '_v' timestamp field to all published models and add the _promiscuous table. See https://github.com/promiscuous-io/promiscuous/blob/master/spec/spec_helper/active_record.rb#L50-L53.

I'll have helpers and/or generators soon to make this easy.

[2014-05-20 21:06] #46 closed, assigned to nobody

[2014-05-20 21:34] nathanpalmer commented on #41
Sounds great @kareemk

[2014-05-22 20:22] #36 closed, assigned to nobody

[2014-05-23 15:49] #55 closed, assigned to nobody

[2014-05-23 16:43] kareemk commented on #50
Moving to next version. @AdamKyle let me know if the workaround worked.

[2014-05-23 16:46] AdamKyle commented on #50
I never actually tried it to be honest. I used a custom rake command to create a the relationship. How goes the Active Record Sync concept?

[2014-05-23 16:47] kareemk commented on #50
ActiveRecord sync is supported on the latest version.

[2014-05-23 17:09] AdamKyle commented on #52
OMG YAY

[2014-05-23 17:10] AdamKyle commented on #50
YES! you are god. let me try this tonight and ill let you know :D :dancer:

[2014-05-23 18:08] kareemk commented on #50
Make sure to either point your gemfile to master or '1.0.0.beta2'

[2014-05-23 21:22] kareemk commented on #50
Make that '1.0.0.beta3'

[2014-05-27 05:30] AdamKyle commented on #50
I think I am doing this wrong.

So In the subscribers.rb (on the subscriber app) I did:

[code]

Which I assume - based on the docs - would say: Go to the publisher, grab me every user and role object and sync them over here.

Which confuses me because on the Publisher side I do:

[code]

So.....How do you sync something like this?

But I got the error:

[code]

I find this odd because in the User

[2014-05-27 15:07] kareemk commented on #50
Your publisher side code doesn't look correct. It should be something like (in the model file):

[code]

[2014-05-27 15:11] AdamKyle commented on #50
The publisher code is inside of the `config/publishers.rb` as per [this documentation you have](https://github.com/promiscuous-io/promiscuous/wiki/Features-and-Recipes#in-a-config-file)

My subscriber subscribes from the model instead of the `config/subscribers.rb`

I can do the sync from the terminal by doing `bundle exec promiscuous "Xaaron::User.all"` but I cant seem to do it programatically as

[2014-05-27 16:02] kareemk commented on #50
Ah, I didn't realize that you were using subscribers.rb and publishers.rb.

Looks like you have the syntax wrong in publishers.rb. It should  be:

[code]

[2014-05-27 18:42] AdamKyle commented on #50
That's not what I have, I have the following:

**Publisher App:**

[code]

Then on the subscriber side, I subscribe through the models, So ill show you the user for example:

**Subscriber**

[code]

This **works as is**, when a model is published it is gathered, in this case the user subscribes and collects the data it's listening too. This part **works**. Where we fall apart is, in the subscriber

[2014-05-28 01:42] kareemk commented on #50
Ah! You can't do that on the subscriber, you need to do that in the publisher in console (as it should only need to happen once for existing data).

[2014-05-28 01:44] AdamKyle commented on #50
That's where I originally tried it and I got the same error so I thought ok lets do this on te subscriber and well here we are

[2014-05-28 18:53] kevinc opened #57 "Publishing methods with punctuation (? or !) doesn't work"
The mocks use attr_accessor to add the methods and these aren't valid characters for attributes

[2014-06-29 23:55] samsongz opened #58 "Subscriber side sync error"
When trying to run an initial table sync as described in the wiki, I get this error:

[code]

Normal creating/updating from promiscuous publisher to subscriber works fine. I can't see anything clearly wrong with the payload and I've tried synching a few different models but get the same issue. Any suggestions for what might be missing from the [update](https://github.com/promiscuous-io/promiscuous

[2014-06-30 16:32] kareemk commented on #58
You may be running an old version of promiscuous on the publisher side

[2014-07-02 14:11] kareemk commented on #58
@samsongz did that fix your issue?

[2014-07-03 14:23] MattRogish opened #59 "MySQL Support"
Hi,

The docs state it requires PostgreSQL - any idea what would need to change in order to support MySQL? What's Postgres-specific? Thanks!

[2014-07-04 00:00] kareemk commented on #59
Support for the "RETURNING" clause in update and insert (see RETURNING in http://www.postgresql.org/docs/9.1/static/sql-update.html).

Note that it is possible to support MySQL without it -- its just a bunch of work and not ideal as row-level locks would need to be taken on every update/insert.

[2014-07-04 00:00] kareemk commented on #58
Please re-open if this is still an issue.

[2014-07-04 00:00] #58 closed, assigned to nobody

[2014-07-04 00:04] kareemk commented on #59
@MattRogish i'm curious what usecase you're currently/exploring using promiscuous for?

[2014-07-04 00:11] samsongz commented on #58
I'm running 1.0.0.beta3 on both sides so no, that did not solve the issue. I had not set the foreign key correctly on the subscriber side (because I'm mixing databases) but that did not resolve it either. I will try and look closer this weekend. I think it must be a configuration issue on my side because nobody else has this problem. The __promiscuous_missing_record_exception is not being raised w

[2014-07-04 00:38] MattRogish commented on #59
Hi Kareem,

Thanks for the note. Basically, taking a monolithic Rails app and breaking it up into smaller chunks, then some sort of pubsub across apps/servers. Most of the Ruby/Rails stuff for pubsub that I can find is either roll-your-own, or only works for a single server.

If I was Facebook (let's assume this use-case makes sense, because it kind of maps to an application I'm interested in) whe

[2014-07-05 15:10] kareemk commented on #59
That's the ideal usecase for this project -- we took a monolithic rails app and with promiscuous migrated it to a micro-services architecture with 12 (and fast growing) services.

I'll work on MySQL support this weekend and hopefully have something for you soon.

[2014-07-05 15:31] kareemk commented on #58
Please share the model files on the publisher and subscriber

[2014-07-06 14:03] samsongz commented on #58
Publisher:

[code]

Subscriber:

[code]

Is it possible to set the :foreign_key option using the other Mongoid subscribe block syntax?

[2014-07-07 21:37] #50 closed, assigned to nobody

[2014-07-07 21:39] AdamKyle opened #60 "Promiscuous or Me?"
So when I run, on production, `nohup bundle exec promiscuous subscribe` i then check the `nohup.out` for any issues and see:

[code]

it states something about pry ..... but near the end it states there is issues with promiscuous??? I have the gems all installed. and on development it works perfectly fine.

[2014-07-08 04:33] #60 closed, assigned to nobody

[2014-07-08 04:34] AdamKyle commented on #60
I found out apparently you require pry ..... interesting. By the way this gem works amazingly in production.

[2014-07-08 19:28] michaeldauria opened #61 "Ability to support multiple AMQP endpoints"
The idea here is that rather than put RabbitMQ behind a load balancer, which never works out well, we can pass in an array of `amqp_urls` and promiscuous can loop over the array until it can connect.

The assumption is that the cluster is mirrored and connecting to any member in the list is safe.

[2014-07-08 19:49] michaeldauria commented on #61
A way around this for now is to use round-robin DNS, since promiscuous will reconnect on failure.

[2014-07-24 20:59] kareemk commented on #59
Closed by https://github.com/promiscuous-io/promiscuous/commit/afe361d403b95842e6b8163776110e944806b5a5

[2014-07-24 20:59] #59 closed, assigned to nobody

[2014-07-24 21:02] kareemk commented on #59
Released version [1.0.0.beta5](https://rubygems.org/gems/promiscuous/versions/1.0.0.beta5)

[2014-07-24 21:15] MattRogish commented on #59
Awesome!!! thanks Kareem!!! you're amazing :+1:

[2014-08-23 17:03] AdamKyle opened #62 "Issues with 1.0.0 beta 5"
I have found the following issues upgrading to 1.0.0 beta 5 (can I suggest you move to a tag based system so that people testing or using can move back a version, I upgraded from 1.0.0 beta 2)
# Bundle Exec No loner works

I run this, when I update my apps that I am building:

`bundle exec promiscuous publish "Xaaron::User.all"`

Which spits out:

[code]

Which is: [base.rb#L43](https://github.com

[2014-08-25 01:13] kareemk commented on #62
This is fixed by f4aec9457b6399630be0a5db93929ac93d9ec5c9. I'll also soon have support for another attribute which will let you specify the target app name that you want to sync to so that you can avoid sending having all subscribers consume sync messages unnecessarily.

I'll start using tags when I release 1.0.0 which should happen fairly soon.

[2014-08-25 01:13] #62 closed, assigned to nobody

[2014-10-24 09:59] diegodurs opened #63 "Rails 4.x Support"
Do you know the possible issues related to Rails 4.0 support? What has to be done?
Anyone else would like this?

[2014-10-24 11:56] kareemk commented on #63
4.x is supported. Have you had issues?

[2014-10-24 14:18] diegodurs commented on #63
I haven't try it yet.
I guess the roadmap must be updated then:
https://github.com/promiscuous-io/promiscuous/wiki/miscellaneous#roadmap

[2014-10-24 14:19] kareemk commented on #63
Ah. Updated that. Thanks.

[2014-10-24 14:19] #63 closed, assigned to nobody

[2014-10-28 23:35] perkins2099 opened #64 "Inconsistent Sync"
Ruby 2.1.2
Rails 4.1.4
Promiscuous 1.0.0.beta5

Syncing messages through a rabbitmq server on EC2, clustered through a load balancer.  Almost never receive all of the data that is published and having a hard time tracking down the problem.

I ran a test locally using the load balancer and rabbitMQ servers.  Ran faster and flawlessly.

Are there tools to help trackdown if a message originates at th

[2014-10-29 19:39] kareemk commented on #64
Could you please share more details on the setup your running on EC2? Perhaps screenshots of your rabbit config.

To track the messages set the logging level to DEBUG in the promiscuous initializer on both the publisher and the subscriber and you should see where things are breaking down.

Also, are you running the publisher recover worker (via: `promiscuous publisher_recover`)?

Are you running A

[2014-10-29 22:36] perkins2099 commented on #64
Thanks Kareem!

ActiveRecord - Postgres

Not running promiscuous publisher_recover - didn't see it in the dox.  Didn't see any exceptions coming through in my promiscuous error logging stuff below:
  # All the settings are optional, the given values are the defaults.

[code]

Wasn't sure how to set the promiscuous logging level.

EC Rabbits:
T2.micro instances
Load Balancer

I can't seem to find t

[2014-10-29 22:43] kareemk commented on #64
[code]

To start a screenshot of the overview page of the rabbitmq admin panel should be fine.

I'll update the docs to be more explicit about the publisher_recovery worker. With it running are you still seeing the data loss issue?

If you're still struggling I'm happy to setup some time to remote pair and try and figure this out.

[2014-10-30 00:42] perkins2099 commented on #64
![rabbitmq management](https://cloud.githubusercontent.com/assets/1720524/4836922/5bb5e9ca-5fcc-11e4-878b-de8747ebc8d3.png)

I'm still seeing pretty inconsistent sync.  I have 5000 records and only 1300 came through on this last try with the recovery bit running.

I'm syncing by being in console on the publisher and doing..

Link.all.find_each { |u| u.promiscuous.sync }

Id enjoy a few minutes of

[2014-12-07 22:02] kareemk commented on #64
Please reopen if this is still an issue.

[2014-12-07 22:02] #64 closed, assigned to nobody

[2015-01-16 19:36] armyofgnomes opened #65 "When on a production console, need to type Promiscuous::AMQP.connect to be able to sync via promiscuous"

[2015-01-22 00:50] AdamKyle opened #66 "undefined method promiscuous"
I am getting the following issue:

[code]

Do we not publish models this way any more?

[2015-01-22 17:44] kareemk commented on #66
Are you sure that you're publishing Xaaron::User. Please share your model file or publisher file.

[2015-01-22 17:54] kareemk commented on #65
Resolved by 3d6acb44407f2a4f42d424c4460f25a17d0a6ec5 on new_locking_scheme branch

[2015-01-22 17:54] #65 closed, assigned to nobody

[2015-01-22 18:42] AdamKyle commented on #66
All of these models exist. I have even tried: `publish ':xaaron/users' do ... end` (this doesn't work).

This was working, is it because of Active Record 4.1.9? I know you don't support this high up in rails, so it might because I'm 50 versions ahead of what you do support. Or it might be something I am doing wrong.

All of these models are from an Engine.

[code]

[2015-01-22 18:45] kareemk commented on #66
What version of promiscuous are you using?

[2015-01-22 19:04] AdamKyle commented on #66
I have it set to download from: `gem 'promiscuous', :git => 'git@github.com:promiscuous-io/promiscuous.git'`

So: **1.0.0.beta6**

[2015-01-22 19:12] kareemk commented on #66
I can't see a reason why this wouldn't work.

How about using http://tmate.io/ to share your terminal with me and i can take a look

[2015-01-22 19:23] AdamKyle commented on #66
When your ready you can connect at [tmate] Remote session: ssh siZ5A6GlBmNhTzWZ8wV97gX0f@sf.tmate.io

Not sure if it will allert me when you connect, as I have never used tmate.  But I get the gist of it.

I also have the command ready to run.

[2015-01-22 20:33] kareemk commented on #66
I jumped in and made the necessary changes to your `config/publishers.rb` to get it working. Take a look.

[2015-01-22 21:00] AdamKyle commented on #66
I will for sure. I am a bit busy at the moment but I will take a look. Thank you kind sir.

[2015-01-22 21:00] #66 closed, assigned to nobody

[2015-01-23 05:36] AdamKyle opened #67 "What is the point of Models for subscribers?"
I am actually confused by this because, take the following example:

[code]

The following model does a lot of things, it sets up relationships, sets up friendly id for clean urls  (which I use in API's). But what it does not do is the `before_save`. Now it does this if I use the terminal or allow you to create a user through this model.

But this model is essentially a read only, you cannot write

[2015-02-20 03:12] kareemk commented on #67
Sorry for the late response. All callbacks are invoked so `before_save` should have been invoked.

[2015-03-03 00:54] josephbridgwaterrowe opened #71 "undefined method `validate' for Promiscuous::Publisher:Module (NoMethodError)"
I receive this error when using `Promiscuous::Publisher.validate('generated_mocks.rb')` in `rails_helper.rb`.

Maybe I'm missing something obvious but I tried searching the report for `validate` with no matching results.

Oh, and I'm using it with ActiveRecord.

[2015-03-03 01:02] josephbridgwaterrowe commented on #71
To be fair I'm not sure I even need this.

I was giving this a try because my database_cleaner.rb support file was failing, which I seem to have resolved by wrapping some of the statements with `Promiscuous.without_promiscuous { }`.

For example:

[code]

[2015-03-03 20:55] josephbridgwaterrowe opened #72 "Table doesn't exist during db:migrate"
When using ActiveRecord and "resetting" the database with `bundle exec rake db:drop db:create db:migrate RAILS_ENV=test` I receive the following error:

[code]

I believe that this occurs when `lib/promiscuous/publisher/model/active_record.rb` checks for the existence of the `_v` column.

This is my new `lib/promiscuous/publisher/model/active_record.rb` which allows my migrations:

[code]

[2015-03-03 21:28] josephbridgwaterrowe commented on #72
I have made this change to my fork at:

https://github.com/josephbridgwaterrowe/promiscuous/tree/tweaks

These are the projects that I'm trying promiscuous in:

https://github.com/westernmilling/chancellor (publisher)
https://github.com/westernmilling/diplomat (subscriber)

[2015-03-04 17:14] josephbridgwaterrowe commented on #72
May I suggest that the check for the _v column should not be done here. But instead document the requirement that pub/sub'd models need this column and perhaps include a generator as well.

[2015-03-06 19:12] kareemk commented on #72
Thanks @josephbridgwaterrowe. I'll take a look at this soon.

[2015-03-06 19:13] kareemk commented on #71
Validate isn't supported. This may be due to outdated documentation. Where did you see an example of this method being used?

[2015-03-06 23:15] josephbridgwaterrowe commented on #71
It was just in the documentation. When using the test mocks do we just include the generated mock file?

Thanks for your response.

[2015-03-08 21:16] kareemk commented on #71
Yes, exactly. You just include the mock file and then you can simulate publish events in your tests.

[2015-03-09 20:19] josephbridgwaterrowe commented on #71
OK, thanks for the verification.

[2015-03-16 15:28] maulin opened #74 "Driver is nil for ephemeral publisher"
I get the following error when I try to publish an ephemeral.

[code]

This is what the full stack trace looks like

[code]

It seems like the connection to rabbit is not being made. But if I publish a regular publisher model first and then publish the ephemeral, it works fine. This is on the kafka branch

[2015-03-17 18:01] kareemk commented on #74
I'll get a fix out soon for this in the meantime try `Promiscuous.ensure_connected` before you publish.

[2015-03-23 21:03] armyofgnomes opened #75 "Generating mocks for namespaced model isn't outputting parents in the publishers file"
With a class like this, which is namespaced, but doesn't have any parent classes:

[code]

will lead to just this in the publisher file when the mocks are generated:

[code]

instead of

[code]

I'm not sure if this is a bug in promiscuous or if the class was just written weird, since it doesn't really match any of the other classes we've done in the app.

[2015-03-24 14:16] kareemk commented on #75
This looks like a bug. I'll see if I can push out a quick fix. Are you on the new-locking-scheme or kafka branch?

[2015-03-24 14:16] armyofgnomes commented on #75
Kafka branch. Thanks Kareem!

[2015-08-13 00:57] josephbridgwaterrowe commented on #72
@kareemk, would you be interested in consuming this change through a pull request? And if so, I would value some thoughts on how we could test this behavior.

Thanks.

[2015-08-18 09:20] kareemk commented on #72
@josephbridgwaterrowe @michaeldauria maintains promiscuous now, i'll let him comment on this.

[2015-08-19 22:28] josephbridgwaterrowe commented on #72
@kareemk Thank you.
@michaeldauria I have some other suggestions for potentially improving promiscuous with AR.

[2015-08-27 01:58] brettallred opened #77 "NameError: uninitialized constant ActiveSupport::Autoload when running promiscuous subscribe"
I am trying to test out promiscuous but when starting the subscriber I get an NameError: uninitialized constant ActiveSupport::Autoload

I have the latest version of rails (4.2.4) and promiscuous-0.100.5

[code]

When I clone the repo and point my gem path to the local version it works fine.

[2015-08-27 02:13] #77 closed, assigned to nobody

[2015-12-11 20:46] samsongz commented on #72
+1

having this problem as well and @josephbridgwaterrowe 's fix resolves it. @michaeldauria is this something you'd consider merging in?

thank you

[2015-12-12 13:37] josephbridgwaterrowe commented on #72
@samsongz I have another branch on my own fork over here https://github.com/josephbridgwaterrowe/promiscuous/tree/active_record_migrations that moves these checks into a CLI process, it also includes a fix for some issues I was having with AR 4.2.3 savepoints.

[2016-03-05 00:00] josephbridgwaterrowe opened #78 "MockGenerator not generating mocks when configuring publishes outside of model"
Basic example, when configuring the publisher with this:

[code]

Then we run this:

[code]

We get this output:

[code]

However, when one declares the publisher configuration inline of the model like so:

[code]

Run this:

[code]

We get this output:

[code]

I'm going to work on fixing this in my fork.

I would be interested in having a conversation with anyone interested in reviving developme

[2016-03-05 00:02] josephbridgwaterrowe commented on #78
I was talking nonsense, this is working as expected... ID10T error! :smile:

Closing issue.

[2016-03-05 00:02] #78 closed, assigned to nobody

[2016-03-05 00:03] josephbridgwaterrowe commented on #78
Although I would still be interested in have a conversation about pickup up support of this great library.

[2016-09-20 16:28] dmbrooking commented on #77
I know this was over a year ago, but do you remember how you resolved this? I'm encountering the same issue.

[2016-09-20 16:51] dmbrooking opened #79 "NameError: uninitialized constant ActiveSupport::Autoload"
I see there was an issue regarding this about a year ago but then the person who opened it, closed it without comment.

I'm getting the following error:

`❯ bundle exec promiscuous subscribe                                                                                                            [12:40:08]`
`NameError: uninitialized constant ActiveSupport::Autoload`

Running:
rails 4.2.6
promiscu

[2016-09-20 19:42] #79 closed, assigned to nobody

[2016-10-12 09:07] #49 closed, assigned to nobody

[2016-11-28 03:27] mingxiangchan commented on #77
in case anyone is encountering this error, I resolved it by changing the lines in `/lib/promiscuous.rb` as follows

Source:
` require 'active_support/core_ext'`

Changed to:
[code]

[2017-06-06 09:56] lmrtn opened #82 "undefined method `publish' for Model"
Hi,

I have setup the promiscuous gem in both my apps, started the subscribe worker with the cmd

bundle exec promiscuous subscribe

My issue is, when I try to work with my Model on the publishing app, I always get the same message :
NoMethodError: undefined method `publish' for Model (call 'Model.connection' to establish a connection):Class

here my model is a Company, with a name attribute

in m

[2017-06-06 13:13] #82 closed, assigned to nobody